.twitterBox {
	width: 20em;
}

.tweet {
	background-color: skyblue;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: 22% 78%;
	grid-template-rows: 10% 90%;
	justify-items: start;
	align-items: start;
}

.username {
	color: blue;
	grid-column: 2/3;
	grid-row: 1;
}

.profile_image {
	border-radius: 10px;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	grid-column: 1/2;
	grid-row: 1/3;
	margin: auto;
}

.text {
	grid-column: 2/3;
	grid-row: 2/3;
}
