.cadPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
    .cadFrame {
        margin-top: 50px;
        width: 100vw;
        height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .cadFrame {
        margin-top: 75px;
        width: 100vw;
        height: 92vh;
    }
}
