.cadPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.CadDownloadButtom {
    position: fixed;
    bottom: 0;
    left: 0;
}

.Red {
    color: red;
}

.Green {
    color: green;
}

@media (max-width: 768px) {
    .cadFrame {
        margin-top: 50px;
        width: 100vw;
        height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .cadFrame {
        margin-top: 75px;
        width: 100vw;
        height: 92vh;
    }
}
