.cesium-viewer-toolbar {
    visibility: hidden;
}

#cesiumContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

body {
  overflow: hidden;
}

.pageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 8vh;
}

.leftBar {
    position: fixed;
    z-index: 10;
    height: 92vh;
    top: 8vh;
    left: 0;
    width: 22vw;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
}

.rightBar {
    position: fixed;
    z-index: 10;
    top: 8vh;
    right: 0;
    width: 22vw;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
}

@media (min-width: 1024px) {
    .pageContainer {
        font-size: 0.8em;
        grid-auto-rows: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pageContainer {
        font-size: 0.6em;
        grid-auto-rows: 46vh;
    }
}

@media (max-width: 768px) {
    .pageContainer {
        font-size: 0.5em;
        grid-auto-rows: 20vh;
    }
}


.notLoaded {
    opacity: 0;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/bse_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    z-index: 9999;
}
