.controls {
    position: absolute;
    z-index: 3;
    bottom: 10vh;
    right: 22vw;
    display:grid;
    grid-template-columns: 80px 80px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.button {
    width: 80px;
    height: 40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.button:hover {
    background-color: white;
}
