.controls {
    position: absolute;
    z-index: 3;
    bottom: 10vh;
    right: 22vw;
    display:grid;
    grid-template-columns: 80px 80px 80px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.button {
    width: 80px;
    height: 40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.switch {
    position: fixed;
    top: 50vh;
    left: 50vw;
}

.rc-switch {
    width: 80px;
    height: 30px;
    line-height: 28px;
}

.rc-switch:after {
    width: 26px;
    height: 26px;
}

.rc-switch-inner {
    left: 40px;
}

.rc-switch-checked .rc-switch-inner {
    left: 15px;
}

.rc-switch-checked:after {
    left: 50px;
}

.button:hover {
    background-color: white;
}
