body {
    background-color: rgb(37, 40, 48);
}

.dataPage {
    font-family: 'Roboto';
    padding: 20px;
    margin: 0;
}

.break {
    position: relative;
}

.subtitle {
    text-align: center;
}

.subtitle p {
    color: #828a9f;
    font-size: 85%;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.break p {
    position: absolute;
    left: 0;
    right: 0;
}

.dataContainer {
}

.data-navbar .text {
    font-weight: 400;
    color: #51586a;
    text-transform: uppercase;
    font-size: 85%;
    padding-left: 15px;
    margin-bottom: 5px;
}

.data-navbar a {
    color: white;
    font-weight: 300;
}

.data-navbar .active {
    background-color: rgb(35, 152, 152);
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    .dataContainer {
        margin-top: 50px;
    }

    .data-navbar {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .dataContainer {
        margin-top: 8vh;
    }

    .data-navbar {
        margin-top: 15vh;
    }
}

.dataContainer h2 {
    color: white;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 20px;
    margin-top: 20px;
}

.dataContainer hr {
    border: 0;
    border-top: 1px solid #434857;
}

.dataContainer .row {
    margin: 50px 0 50px 0;
}

.dataContainer .row .statTitle {
    margin-bottom: 20px;
}

.dataContainer .graphCard {
    text-align: center;
    display: grid;
    grid-auto-rows: min-content;
}

.dataContainer .graph {
    width: 75%;
    margin-bottom: 20px;
    justify-self: center;
}

.dataContainer .graph.small-graph {
    width: 60%;
}

.dataContainer h3 {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
}

.dataContainer h4 {
    color: white;
    font-weight: 300;
}

.dataContainer h5 {
    color: white;
    font-weight: 300;
    margin-bottom: 30px;
}

.dataContainer h5.last {
    margin-bottom: 0;
}

.dataContainer .caption {
    color: #828a9f;
    font-size: 85%;
    /* text-transform: uppercase; */
    letter-spacing: 0.15em;
}

.dataContainer .elem-1 {
    color: rgb(255, 99, 132);
}

.dataContainer .elem-2 {
    color: rgb(54, 162, 235);
}

.dataContainer .elem-3 {
    color: rgb(255, 206, 86);
}

.dataContainer .elem-4 {
    color: rgb(75, 192, 192);
}
