.navigation {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: rgb(26, 28, 34, 0.5);
  /* box-shadow: 0px 0px 8px 1px #111111; */
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  font-size: 24px;
}

.navigation .logos {
  grid-column: 1/2;
  justify-self: start;
  height: 35px;
}

.navigation .bseLogo {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.navigation .satLogo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  filter: invert(100%);
}

.navigation .bseLogo:hover, .navigation .satLogo:hover {
  opacity: 0.7;
}

.navigation .links {
  grid-column: 2/3;
  justify-self: center;
  display: grid;
  width: 30vw;
  grid-template-columns: auto auto auto;
}

.navigation .links a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.navigation .links a.active {
  color: #6aa2c8;
}

.navigation .links a:hover {
  color: #aaaaaa;
}

.navigation .social {
  grid-column: 3/4;
  justify-self: end;
  height: 35px;
}

.navigation .social img {
  margin: 0 10px;
}

.navigation .social img:hover {
  opacity: 0.7;
}
