.trackingData {
    z-index: 3;
    background-color: black;
    color: #00DDFF;
    text-shadow: 0 0 5px #00FFFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px #EEEEEE;
    opacity: 0.8;
}

@media (min-width: 768px) {
    .trackingData {
        grid-column: 1;
        margin: 20px;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 768px) {
    .trackingData {
        padding: 0 20px 0 20px;
        grid-column: 1 / 3;
        width: 30vw;
        transform: translateX(10px);
    }
}
